<header>
  <nav id="user_nav">
    <li id="dashboard">Dashboard...</li>
    <li id="user_home">
      <form class="" action="/logout/?" method="post">
        <button id="signout" type="submit" name="button">SIGN OUT<span class="glyphicon glyphicon-home"></button>
      </form>
    </li>
  </nav>
</header>

<div class="index_background">
  <div class="layer">
  </div>
</div>
<div class="dashboard">
  <h2><span class="profile"><img src="../profile.png" alt="" /></span><%=@user.username %><span id="chats_arrow_up" class="chats_icon glyphicon glyphicon-chevron-up"></span><span id="chats_arrow_down" class="chats_icon glyphicon glyphicon-chevron-down"></span></h2>
  <div class="chat_div">
    <% if @users.any? %>
      <ul class="chats">
        <% @users.each do |user| %>
          <%if user != @user %>
            <li class="chat"> <img src="../chat.png" alt="" />
              <form class="start-conversation" action="/conversation" method="post">
                <!-- <input type="hidden" name="data-sid" value="<%=session[:id]%>">    OLD  -->
                <input id="input-handle" type="text" class="form-control" placeholder="Enter handle" autofocus /><!--heroku version -->
                <input id="input-text" type="text" class="form-control" placeholder="Enter chat text here!" autofocus /><!--heroku version -->
                <!-- <input type="hidden" name="data-rid" value="<%=user.id%>">         OLD-->
                <button class="users" type="submit" name="button"><%=user.username()%></button>
              </form>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>

<div id="chat-text"><!-- heroku chat output div -->

<div class="chat-wrapper">
  <% if @conversations.any? %>
    <% @conversations.each do |conversation| %>
      <section class="module">
        <header class="top-bar">
          <div class="left">
            <span class="icon typicons-message"></span>
            <h1><%= User.find(conversation.recipient_id()).username() %></h1>
          </div>
          <div class="right">
            <a class="minus" href="#"><span class="icon typicons-minus"></span></a>
            <a class="plus" href="#"><span class="icon typicons-plus"></span></a>
            <form class="exit_form" action="conversation/<%=conversation.id()%>/delete" method="post">
              <input type="hidden" name="conversation_id" value="<%=conversation.id()%>">
              <input type="hidden" name="_method" value="delete">
              <button class="exit" type="submit" name="button"><span class="icon typicons-times"></span></button>
            </form>
          </div>
        </header>
        <div class="discussion_with_input">
          <ol class="discussion">
            <% if conversation.messages.any?() %>
              <% conversation.messages.each do |message| %>
                <li class="<%= (message.user_id()== @user.id())? "other" : "self"  %>">
                  <div class="avatar">
                    <img src="./profile2.png" alt="profile avatar"/>
                  </div>
                  <div class="messages">
                    <p> <%= message.body() %> </p>
                  </div>
                </li>
              <% end %>
            <% end %>
            <li class="self">
              <div class="avatar">
                <img src="./profile.png" alt="profile avater"/>
              </div>
              <div class="messages">
                <p>That makes sense.</p>
                <p>It's a pretty small airport.</p>
                <time datetime="2009-11-13T20:14">37 mins</time>
              </div>
            </li>
            <li class="other">
              <div class="avatar">
                <img src="./profile2.png" alt="profile avater"/>
              </div>
              <div class="messages">
                <p>that mongodb thing looks good, huh?</p>
                <p>tiny master db, and huge document store</p>
              </div>
            </li>
          </ol>
          <div class="message-input">
            <form class="" action="/conversation/<%= conversation.id() %>" method="post">
              <textarea class="text_input" id="body-<%= conversation.id() %>" rows="2" cols="32"></textarea>
              <button type="submit" id="<%= conversation.id %>" name="send" class="send">Send</button>
            </form>
          </div>
        </div>
      </section>
    <% end %>
  <% end %>
</div>
